@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');
/*declarações das variáveis*/
:root{
    --cor0:#DAFDBA;
    --cor1:#9AEBA3 ;
    --cor2:#45C4B0 ;
    --cor3:#13678A;
    --cor4:#012030;
    --shadow:2px 2px 4px rgba(0, 0, 0, 0.596);
}
/*configurações globais*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*plano de fundo*/
body{
    /*background-image: url(imagewns/pexels-jplenio-1114897.jpg);*/                
    background:linear-gradient(45deg,var(--cor1), var(--cor3), var(--cor4));
    background-size: 300%  300%;
    animation: fundo 6s ease infinite;
}
/*configurações do menu*/
nav{
    width: 100%;
    margin: 10px auto 30px auto;
    padding: 20px;
    font-family: 'Matemasie', 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    background-color:var(--cor4);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.671);
}
/**/
nav ol{
    list-style: none;
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-evenly;
}
nav ol li a{
    background-color: rgb(105, 96, 96);
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
}
nav ol li a{
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.747);
    color: #ffffff;
}
nav ol a:hover{
    background-color: white;
    text-decoration: underline;
    color: black;
    text-decoration-color:black ;
    transition: all 0.8s;
}
/*configurações dos itens*/
li.caixa{
    color: white;
    text-transform: uppercase;
}
li.caixa:hover{
    text-decoration: underline;
    text-decoration-color:black ;
}
div.itens{
    position: absolute;
    top: 10%;
    display: none;
}
div.itens a{
    background-color: var(--cor2);
    padding: 5px;
    border-radius: 10px;
}
div.itens a:hover{
    color: black;
}
li.caixa:hover div.itens{
    display: block;
}
header h1{
    text-align: center;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.568);
    font-family: 'Matemasie' ,sans-serif, Courier New, Courier, monospace;
    margin-bottom: 15px;
    color: white;
}
div#container{
    width: 700px;
    height: 355px;
    margin: auto;
    box-shadow: 3px 3px 6px  rgba(0, 0, 0, 0.301);
}
div#img{
    background-image: url(imagens/Computer\ login-bro.png);
    background-size: cover;
    float: left;
    width: 50%;
    height: 100%;
    background-color: #012030;
}
form{
    height: 100%;
    width: 50%;
    float: right;
    background-color:#329485;
    color: var(--cor0);

}
form fieldset{
    padding: 10px;
    width: 90%;
    margin: auto;
}
form fieldset legend{
    margin: 0px 10px 0px 10px;
    font-size: 1.1em;
    text-shadow: var(--shadow);
}
form fieldset#info input{
    padding: 20px;
    display: block;
    margin: auto;
    border-style:solid ;
    border-radius: 20px;
    text-align: center;
    font-size: 1.1em;
    width: 300px;
}
form fieldset#info label{
    display: none;
    font-size: 1.1em;
    text-shadow:var(--shadow) ;
}
form button{
    display: block;
    margin: 8px auto 0px auto;
    padding: 10px;
    width: 80px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
}
form button:hover{
    cursor: pointer;
}
div#links{
    margin-top: 10px;
}
div#links a{
    display: block;
    margin: 5px;
    text-align: center;
    font-size: 1.1em;
    color: white;
    text-shadow: 2px 3px 5px black;
}
div#links a:hover{
    text-decoration: none;
}
footer{
    margin-top: 200px;
}