@media screen and (max-width:690px) {
    i#icone{
        display: block;
    }
    h1{
        width: 96%;
        text-align:center;
    }
    nav{
        scale: 0;
        background-color: rgba(0, 0, 0, 0.61);
        margin: 0px;
        height: 130px;
        padding-top: 80px;
    }
    nav ol{
        padding-right: 0px;
        justify-content: space-evenly;
    }
}
@media screen and (max-width:560px) {
    .consumiveis{
        justify-content: center;
    }
}
@media screen and (max-width:370px){
    h1{
        font-size: 4em;
    }
    .footer{
        bottom: 0px;
    }
}