*{
    margin: 0px;
    padding: 0px;
}
nav {
    font-family: "Cinzel", serif;
    font-weight: bold;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.493);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.671);
    height: 110px;
}

nav ol {
    margin-top: 40px;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

nav ol a {
    background-color: var(--cor2);
    color: #ffffff;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 2px 2px 6px var(--cor5);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.747);
}

nav ol a:hover {
    background-color: var(--cor5);
    color: black;
    text-decoration: underline;
    text-decoration-color: black;
    text-shadow: 0px 0px 5px aliceblue;
    transition: all 0.8s;
}

/*configurações dos itens escondidos*/
li.caixa {
    color: white;
    text-transform: uppercase;
}

li.caixa:hover {
    text-decoration: underline;
}

div.itens {
    display: none;
    position: absolute;
    top: 80px;
    right:285px ;
}

div.itens a {
    display: block;
    margin: 0px;
    padding: 5px;
    border-radius: 10px;
    background-color: gray;
    color: white;
}

div.itens a:hover {
    background-color: var(--cor5);
    color: #1C1C1C;
    text-decoration-color: var(--cor5);
}

.caixa:hover div.itens {
    display: block;
}
