@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
/*"fonte:Protest Guerrilla"*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'square';
    src: url(../fonte/Square\ Game.otf) format('opentype');
}
@keyframes sombra {
    0%{
        box-shadow: 0px 0px 50px blue,
                    0px 0px 50px white;

    }
    100%{
        box-shadow: 0px 0px 50px white,
                    0px 0px 50px blue;
    }
}
/*fonte:"Roboto"*/
/*declarações das variáveis*/
:root {
    --cor1: #000000;
    --cor2: #1C1C1C;
    --cor3: #8B0000;
    --cor4: #4A5E3C;
    --cor5: #C6A250;
    --fonte1: 'Protest Guerrilla';
    --fonte2: 'Roboto';
    --fonte3: 'square';
    --shadow: 2px 2px 4px rgba(0, 0, 0, 0.596);
}

/*fim da declaração de variáveis*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*configurações do body e plano de fundo*/
body {
    background-image: url(../imagens/Designer.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center 85%;
    background-repeat: no-repeat;
}

/*fim das configurações do body e plano de fundo*/

i#icone {
    right: 30px;
    top: 10px;
    color: white;
    font-size: 3em;
    position: absolute;

}
i#icone:hover{
    cursor:pointer;
}
/*configurações do título principal*/
h1 {
    /* background-image: url(../imagens/h1img.jpeg);
    background-size: cover;
    background-position:100% 90%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    width: max-content;
    font-size: 4em;
    font-family: var(--fonte3);
    color: var(--cor5);
    position: absolute;
    top: 0px;
    text-shadow: 2px 2px 6px var(--cor2);
    text-transform: uppercase;
}

/*fim das configurações do |título principal*/


h2 {
    color: white;
    font-family: var(--fonte2);
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    /*fim das configurações do |título principal*/
}

/*fim do título principal*/
/*configurações da div pai do formlário*/
div#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*fim das configurações do pai*/

/*configurações do formulário*/
form{
    width: 400px;
    min-height: 307px;
    max-height: max-content;
    display: block;
    padding: 20px;
    background: transparent;
    backdrop-filter: blur(4px);
    font-family: var(--fonte2), 'Courier New', Courier, monospace;
    border-radius: 20px;
    animation: sombra 3s linear infinite;

}

/*configurações dos inputs*/
form div#dados label {
    display: none;
}

form div#dados input {
    display: block;
    width: 228px;
    margin: 10px auto;
    padding: 5px;
    border: 3px solid rgba(0, 0, 0, 0.644);
    border-radius: 10px;
    text-align: center;
}

form div#dados input:focus {
    background-color: gray;
    color: white;
}

input[type=date] {
    width: 228px;
}

div#sexo {
    text-align: center;
}

div#sexo p {
    display: inline-block;
    color: white;
}

::placeholder {
    color: rgba(0, 0, 0, 0.74);
}

img#olho {
    width: 20px;
    position: absolute;
    right: 25%;
}

/*botão de enviar do formulário*/
input#botao {
    display: block;
    margin: 14px auto 0px auto;
    padding: 10px;
    width: 80px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.699);
    color: white;
    font-size: 1.2em;
    box-shadow: 4px 4px 0px white;
    transition: 0.8s;
}

input#botao:hover {
    box-shadow: 0px 0px 12px var(--cor5);
    background-color: var(--cor5);
    color: white;
    transform: translate(4px, 4px);
    cursor: pointer;
}

/*configurações dos links abaixo do formulário*/
div#links {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    width: 200px;
    margin: auto;
}

div#links a {
    display: block;
    margin: 8px;
    padding: 5px;
    text-align: center;
    font-size: 1.1em;
    color: white;
    text-shadow: 2px 3px 5px black;
    box-shadow: 2px 2px 0px white;
    text-decoration: none;
    background-color: #00000096;
    border-radius: 20px;
    transition: 0.8s;
}

div#links a:hover {
    box-shadow: none;
    transform: translate(2px, 2px);
    text-decoration: underline;
}
p{
    color: white;
    margin-top: 10px;
    text-align: center;
}
a#baixar {
    background-color: var(--cor5);
    color: var(--cor3);
    border-radius: 20px;
    display: block;
    width: 200px;
    padding: 30px;
    margin: 40px auto;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--fonte4);
    font-size: 1.4em;
    transition: 0.5s;
}

a#baixar:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}