@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');/*"fonte:Protest Guerrilla"*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');/* fonte: 'Cinzel' */

@font-face {
  src: url('../crang/Crang.ttf') format('OpenType');
  font-family: 'Black';/* familia de fonte baixada (fonte :'square') */
}
/*animaçôes do site*/
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

/*fim das animaçôes*


/*declarações das variáveis*/
:root {
  --cor1: #000000;
  --cor2: #1C1C1C;
  --cor3: #8B0000;
  --cor4: #4A5E3C;
  --cor5: #C6A250;
  --fonte1: 'Protest Guerrilla';
  --fonte2: 'Roboto';
  --fonte3: 'Black';
  --shadow: 2px 2px 4px rgba(0, 0, 0, 0.596);
}
/*fim da declaração de variáveis*/

/*configurações gerais*/
* {
  margin: 0px;
  padding: 0px;
}


/*configurações do body e plano de fundo*/
body {
  background-image: url(../imagens/Designer.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center 85%;
  background-repeat: no-repeat;
}
/*fim das configurações do body e plano de fundo*/


/*configurações do título principal*/
h1 {
  color: var(--cor5);
  background-image:linear-gradient(45deg,#254fd8,#94F2D0,#1b57a5);
  background-size: 400% 400%;
  animation: gradient 10s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: max-content;
  font-size: 4.4em;
  font-family:var(--fonte1), serif;
  position: absolute;
  left: 20px;
  top: 20px;
  text-transform: uppercase;
}
/*fim das configurações do |título principal*/

/* configurações do titulo secundário */
h2 {
  color: white;
  font-family:var(--fonte2);
  font-size: 2.2em;
  text-align: center;
  text-shadow: 4px 4px 6px black;
  text-transform: uppercase;
}

/*fim das configurações da div pai do formulário*/
div#container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 307px;
  max-height: max-content;
  padding: 20px;
  margin-top:70px ;
  background: transparent;
  font-family: var(--fonte2), 'Courier New', Courier, monospace;
  border-radius: 20px;
}

/*configurações do formulário*/
form {
  width: 400px;
  min-height: 307px;
  max-height: max-content;
  display: block;
  padding: 20px;
  font-family: var(--fonte2), 'Courier New', Courier, monospace;
  border: 3px solid white;
  border-radius: 20px;
  position: relative;
  backdrop-filter:blur(5px);
}
/* configurações dos labels */
form div#dados label {
  display: none;
}

/*configurações dos inputs*/
form div#dados input {
  display: block;
  width: 228px;
  margin: 10px auto;
  padding: 5px;
  border: 3px solid rgba(0, 0, 0, 0.644);
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}

form div#dados input:focus {
  background-color: gray;
  color: white;
}

input[type=date] {
  width: 228px;
}

div#sexo {
  text-align: center;
}

div#sexo p {
  display: inline-block;
  color: white;
}

::placeholder {
  color: rgba(0, 0, 0, 0.74);
}
/*configurações da div pai do input de senha*/
div.caixa{
  position: relative;
  width: 228px;
  margin: auto;
}
/* configurações do icone de olho */
img#olho {
  position: absolute;
  width: 20px;
  top:7px;
  right: 10px;
}

/*botão de enviar do formulário*/
input#botao {
  display: block;
  margin: 15px auto 10px auto;
  padding: 10px;
  width: 80px;
  border-radius: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0.699);
  color: white;
  font-size: 1.2em;
  box-shadow: 4px 4px 0px white;
  transition: 0.8s;
}

input#botao:hover {
  box-shadow: 0px 0px 12px var(--cor5);
  background-color: var(--cor5);
  color: white;
  transform: translate(4px, 4px);
  cursor: pointer;
}

/*configurações dos links abaixo do formulário*/
div#links {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  width: 200px;
  margin: auto;
}

div#links a {
  display: block;
  margin: 15px;
  padding: 5px;
  text-align: center;
  font-size: 1.1em;
  color: white;
  text-shadow: 2px 3px 5px black;
  box-shadow: 2px 2px 0px white;
  text-decoration: none;
  background-color: #00000096;
  border-radius: 20px;
  transition: 0.8s;
}

div#links a:hover {
  box-shadow: none;
  transform: translate(2px, 2px);
}
/* configurações da div de download  */
div#download{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(4px);
  width: 500px;
  height: 250px;
  margin: auto;
  text-align: center;
}
 /* configurações do botão de download */
div#download a{
  width: 200px;
  display: block;
  margin: 40px auto;
  padding: 10px;
  border: 5px solid gold;
  border-radius: 20px;
  box-shadow: 0px 0px 5px gold,0px 0px 10px gold;
  transition: 0.5s ease;
}
div#download a:hover i#baixar{
  color: black;
}
div#download a:hover{
  background-color: gold;

}

/* icone de seta */
i#baixar{
  transition: 0.8s;
  color: gold;
}

