@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
/*"fonte:Protest Guerrilla"*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'square';
    src: url(../fonte/Square\ Game.otf) format('opentype');
}
@keyframes sombra {
    0% {
        box-shadow: 0px 0px 20px white;
    }
    100% {
        box-shadow: 0px 0px 40px white;
    }
}
@keyframes pulse {
    0% {
      scale: 0.95;
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    70% {
      scale: 1;
      box-shadow: 0 0 0 16px rgba(255, 255, 255, 0);
    }
    100% {
      scale: 0.95;
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }
  
  @keyframes installing {
    from {
      height: 0;
    }
    to {
      height: 100%;
    }
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(-90deg) translate(27px) rotate(0);
      opacity: 1;
      visibility: visible;
    }
    99% {
      transform: rotate(270deg) translate(27px) rotate(270deg);
      opacity: 1;
      visibility: visible;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  @keyframes installed {
    100% {
      width: 150px;
      border-color: rgb(35, 174, 35);
    }
  }
  
  @keyframes circleDelete {
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  @keyframes showInstalledMessage {
    100% {
      opacity: 1;
      visibility: visible;
      right: 56px;
    }
  }
  
/*fonte:"Roboto"*/
/*declarações das variáveis*/
:root {
    --cor1: #000000;
    --cor2: #1C1C1C;
    --cor3: #8B0000;
    --cor4: #4A5E3C;
    --cor5: #C6A250;
    --fonte1: 'Protest Guerrilla';
    --fonte2: 'Roboto';
    --fonte3: 'square';
    --shadow: 2px 2px 4px rgba(0, 0, 0, 0.596);
}

/*fim da declaração de variáveis*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*configurações do body e plano de fundo*/
body {
    background-image: url(../imagens/Designer.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center 85%;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    justify-items: flex-end;
    height: 145vh;

}

/*fim das configurações do body e plano de fundo*/

/*configurações do título principal*/
h1 {
    /* background-image: url(../imagens/h1img.jpeg);
    background-size: cover;
    background-position:100% 90%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    width: max-content;
    font-size: 4em;
    font-family: var(--fonte3);
    color: var(--cor5);
    position: absolute;
    top: 0px;
    text-shadow: 2px 2px 6px var(--cor2);
    text-transform: uppercase;
}

/*fim das configurações do |título principal*/


h2 {
    color: white;
    font-family: var(--fonte2);
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    /*fim das configurações do |título principal*/
}

/*fim do título principal*/
/*configurações da div pai do formlário*/
div#container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*fim das configurações do pai*/

/*configurações do formulário*/
form{
    width:400px;
    position: relative;
    min-height: 307px;
    max-height: max-content;
    display: block;
    padding: 20px;
    background: transparent;
    backdrop-filter: blur(4px);
    font-family: var(--fonte2), 'Courier New', Courier, monospace;
    border: 3px solid white;
    border-radius: 20px;
    /* animation: sombra 2s ease-in-out infinite; */

}
/*configurações dos inputs*/
form div#dados label {
    display: none;
}

form div#dados input {
    display: block;
    width: 228px;
    margin: 10px auto;
    padding: 5px;
    border: 3px solid rgba(0, 0, 0, 0.644);
    border-radius: 10px;
    text-align: center;
}

form div#dados input:focus {
    background-color: gray;
    color: white;
}

input[type=date] {
    width: 228px;
}

div#sexo {
    text-align: center;
}

div#sexo p {
    display: inline-block;
    color: white;
}

::placeholder {
    color: rgba(0, 0, 0, 0.74);
}

img#olho {
    position: absolute;
    width: 20px;
    right: 25%;
}

/*botão de enviar do formulário*/
input#botao {
    display: block;
    margin: 14px auto 0px auto;
    padding: 10px;
    width: 80px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.699);
    color: white;
    font-size: 1.2em;
    box-shadow: 4px 4px 0px white;
    transition: 0.8s;
}

input#botao:hover {
    box-shadow: 0px 0px 12px var(--cor5);
    background-color: var(--cor5);
    color: white;
    transform: translate(4px, 4px);
    cursor: pointer;
}

/*configurações dos links abaixo do formulário*/
div#links {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    width: 200px;
    margin: auto;
}

div#links a {
    display: block;
    margin: 8px;
    padding: 5px;
    text-align: center;
    font-size: 1.1em;
    color: white;
    text-shadow: 2px 3px 5px black;
    box-shadow: 2px 2px 0px white;
    text-decoration: none;
    background-color: #00000096;
    border-radius: 20px;
    transition: 0.8s;
}

div#links a:hover {
    box-shadow: none;
    transform: translate(2px, 2px);
    text-decoration: underline;
}
p{
    color: white;
    margin-top: 10px;
    text-align: center;
}
.label {
  background-color: transparent;
  border: 4px solid gold;
  display: block;
  align-items: center;
  border-radius: 50px;
  width: 160px;
  cursor: pointer;
  transition: all 0.4s ease;
  padding: 10px;
  position: relative;
}

.label::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  width: 8px;
  height: 8px;
  transition: all 0.4s ease;
  border-radius: 100%;
  margin: auto;
  opacity: 0;
  visibility: hidden;
}

.label .input {
  display: none;
}

.label .title {
  font-size: 17px;
  color: black;
  transition: all 0.4s ease;
  position: absolute;
  right: 18px;
  bottom: 14px;
  text-align: center;
}

.label .title:last-child {
  opacity: 0;
  visibility: hidden;
}

.label .circle {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
  position: relative;
  box-shadow: 0 0 0 0 rgb(255, 255, 255);
  overflow: hidden;
}
.label .circle .icon {
  color:var(--cor5);
  width: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
  font-size: 1.3em;
}

.label .circle .square {
  aspect-ratio: 1;
  width: 15px;
  border-radius: 2px;
  background-color: red;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
}

.label .circle::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  width: 100%;
  height: 0;
  transition: all 0.4s ease;
}

.label:has(.input:checked) {
  width: 80px;
  animation: installed 0.4s ease 3.5s forwards;
}

.label:has(.input:checked)::before {
  animation: rotate 3s ease-in-out 0.4s forwards;
}

.label .input:checked + .circle {
  animation:
    pulse 1s forwards,
    circleDelete 0.2s ease 3.5s forwards;
  rotate: 180deg;
}

.label .input:checked + .circle::before {
  animation: installing 3s ease-in-out forwards;
}

.label .input:checked + .circle .icon {
  opacity: 0;
  visibility: hidden;
}

.label .input:checked ~ .circle .square {
  opacity: 1;
  visibility: visible;
}

.label .input:checked ~ .title {
  opacity: 0;
  visibility: hidden;
}

.label .input:checked ~ .title:last-child {
  animation: showInstalledMessage 0.4s ease 3.5s forwards;
}

/* #download{
    width: 200px;
    margin:40px auto;
    padding: 5px;
    border:5px solid var(--cor5);
    border-radius: 80px;
    position: relative;
}
#download a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 1.4em;
    text-shadow: 0px 0px 3px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-left: 25px;
}
#download #icone-seta{
    color: white;
} */
